<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorApp</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="About">
                <span class="oi oi-link-intact" aria-hidden="true"></span> About
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="TodoListInMemory">
                <span class="oi oi-pencil" aria-hidden="true"></span> TodoList
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Bonus">
                <span class="oi oi-chat" aria-hidden="true"></span> 용돈나누기
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="BlazorForm">
                <span class="oi oi-musical-note" aria-hidden="true"></span> BlazorForm
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Demos/ParentChild/FrmParent">
                <span class="oi oi-home" aria-hidden="true"></span> Parent Child
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/SearchBoxTest">
                <span class="oi oi-dashboard" aria-hidden="true"></span> SearchBox
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/MatBlazorTest">
                <span class="oi oi-action-redo" aria-hidden="true"></span> MatBlazor
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/MatTableTest">
                <span class="oi oi-action-redo" aria-hidden="true"></span> MatTable
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/CharJsDemo">
                <span class="oi oi-action-redo" aria-hidden="true"></span> CharJsDemo
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/FrmFileUploadTest">
                <span class="oi oi-file" aria-hidden="true"></span> FrmFileUploadTest
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
